<?xml version="1.0"?>
<opencv_storage>
    <storagePath>/storage/emulated/0/Android/data/de.alextape.openmaka/files</storagePath>
    <defaultObjectImage>/images/book.jpg</defaultObjectImage>
    <statisticsMode>false</statisticsMode>
    <debugMode>false</debugMode>
    <useWindows>false</useWindows>
    <query>
        <imageScale>1</imageScale>
        <imageMaxSize>320</imageMaxSize>
    </query>
    <analyzer>
        <detector>SURF</detector>
        <extractor>SURF</extractor>
        <matcher>BF_NORM_HAMMING</matcher>
        <minimumInliers>10</minimumInliers>
        <minimumMatches>4</minimumMatches>
        <nnDistanceRatio>0.6</nnDistanceRatio>
        <kGroups>2</kGroups>
        <ransacReprojectionThreshold>3.0</ransacReprojectionThreshold>
    </analyzer>
    <tracker>
        <maxCorners>80</maxCorners>
        <qualityLevel>0.1</qualityLevel>
        <minimumDistance>5</minimumDistance>
    </tracker>
</opencv_storage>