<?xml version="1.0"?>
<opencv_storage>
    <defaultObjectImage>/images/book.jpg</defaultObjectImage>
    <statisticsFile>statistics.csv</statisticsFile>
    <statisticsMode>false</statisticsMode>
    <debugMode>true</debugMode>
    <useWindows>false</useWindows>
    <sceneFrame>
        <maxImageSize>320</maxImageSize>
    </sceneFrame>
    <analyzer>
        <detector>SURF</detector>
        <extractor>SURF</extractor>
        <matcher>FLANN_X</matcher>
        <minimumInliers>25</minimumInliers>
        <minimumMatches>4</minimumMatches>
        <nnDistanceRatio>0.6</nnDistanceRatio>
        <kGroups>2</kGroups>
        <ransacReprojectionThreshold>3.0</ransacReprojectionThreshold>
    </analyzer>
    <tracker>
        <maxCorners>80</maxCorners>
        <qualityLevel>0.1</qualityLevel>
        <minimumDistance>5</minimumDistance>
    </tracker>
</opencv_storage>